@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: var(--color-text0D);
  font-weight: 500;
  letter-spacing: -0.2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &:before,
  &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  line-height: 1;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

a {
  text-decoration: none;
  color: var(--color-text0D);
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

ul li {
  list-style: none;
}

textarea:focus,
input:focus {
  outline: none;
}

html,
body {
  font-family: 'Montserrat', serif;
}

#__nuxt {
  height: 100vh;
  width: 100vw;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

//Обнуление стилей end

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
  padding: 0 22px;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  width: 100vw;
  position: relative;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.nuxt-devtools-label-main, .nuxt-devtools-label-secondary {
  color: var(--color-white);
}